@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px; 
  scroll-behavior: smooth;
}

body {
  font-family: 'Almarai', sans-serif;
  background-color: #f9fafb; 
  color: #1f2937;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #D4AF37; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b5952f;
}

@layer base {
  button, input, select, textarea {
    font-family: 'Almarai', sans-serif;
  }
}